obj
bin
.idea
output
packages
TestResults/
.vs/
*.suo
*.csproj.user
*.StyleCopAnalysis.xml
*.FxCopAnalysis.xml
*.lastcodeanalysissucceeded
*.user
NuGet.exe
build/tools/
cireports
StyleCop.Cache
applicationhost.config
